@use "../../node_modules/@cloudscape-design/design-tokens/index.scss" as cs;

$color-background-code-view-light: #f8f8f8;
$color-background-code-view-dark: #282c34;

.root {
  position: relative;
  :global(.awsui-dark-mode) &,
  :global(.awsui-polaris-dark-mode) & {
    background-color: $color-background-code-view-dark;
  }
  background-color: $color-background-code-view-light;
}

.code-table {
  border-start-start-radius: cs.$border-radius-tiles;
  border-start-end-radius: cs.$border-radius-tiles;
  border-end-start-radius: cs.$border-radius-tiles;
  border-end-end-radius: cs.$border-radius-tiles;
  padding-block: cs.$space-static-xs;
  padding-inline: cs.$space-static-xs;
  margin-block: 0;
  margin-inline: 0;
  table-layout: fixed;
}

td {
  padding: 0;
  white-space: pre;
}

.line-number {
  vertical-align: text-top;
}

.code-content {
}

.actions {
  position: absolute;
  inset-block-start: cs.$space-static-xs;
  inset-inline-end: cs.$space-static-xs;
  padding-inline-start: cs.$space-container-horizontal;
}
