@use "../../node_modules/@cloudscape-design/design-tokens/index.scss" as cs;

$color-background-code-view-light: #f8f8f8;
$color-background-code-view-dark: #282c34;

.root {
  position: relative;
  :global(.awsui-dark-mode) &,
  :global(.awsui-polaris-dark-mode) & {
    background-color: $color-background-code-view-dark;
  }
  background-color: $color-background-code-view-light;
  overflow-x: auto;
}

.code-table {
  border-start-start-radius: cs.$border-radius-tiles;
  border-start-end-radius: cs.$border-radius-tiles;
  border-end-start-radius: cs.$border-radius-tiles;
  border-end-end-radius: cs.$border-radius-tiles;
  padding-top: cs.$space-static-xs;
  padding-bottom: cs.$space-static-xs;
  table-layout: auto;
  width: 100%;
  border-spacing: 0;
}

.line-number {
  border-right-color: cs.$color-border-divider-default;
  :global(.awsui-dark-mode) &,
  :global(.awsui-polaris-dark-mode) & {
    background-color: $color-background-code-view-dark;
  }
  background-color: $color-background-code-view-light;
  vertical-align: text-top;
  position: sticky;
  left: 0;
  border-right-width: 1px;
  border-right-style: solid;
  padding-left: cs.$space-static-xs;
  padding-right: cs.$space-static-xs;
}

.unselectable {
  -webkit-user-select: none;
  user-select: none;
}

.code-line {
  padding-left: cs.$space-static-xs;
  padding-right: cs.$space-static-xs;
  &-wrap {
    white-space: pre-wrap;
  }
  &-nowrap {
    white-space: nowrap;
  }
}

.actions {
  position: absolute;
  inset-block-start: cs.$space-static-xs;
  inset-inline-end: cs.$space-static-xs;
  padding-inline-start: cs.$space-container-horizontal;
}
