/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use "../../node_modules/@cloudscape-design/design-tokens/index.scss" as cs;

$color-background-code-view-light: #f8f8f8;
$color-background-code-view-dark: #282c34;

.root {
  position: relative;
  border-start-start-radius: cs.$border-radius-tiles;
  border-start-end-radius: cs.$border-radius-tiles;
  border-end-start-radius: cs.$border-radius-tiles;
  border-end-end-radius: cs.$border-radius-tiles;

  background-color: $color-background-code-view-light;
  :global(.awsui-dark-mode) &,
  :global(.awsui-polaris-dark-mode) & {
    background-color: $color-background-code-view-dark;
  }
}

.scroll-container {
  overflow-x: auto;
}

.code-table {
  padding-block-start: cs.$space-static-xs;
  padding-block-end: cs.$space-static-xs;
  table-layout: auto;
  inline-size: 100%;
  border-spacing: 0;

  &-with-actions {
    min-block-size: calc(2 * cs.$space-scaled-xs + cs.$space-scaled-xxl);
    padding-inline-end: calc(2 * var(--space-static-xxxl-qj5g91, 40px));
  }
}

.screenreader-only {
  position: absolute;
  inset-block-start: -9999px;
  inset-inline-start: -9999px;
}

.line-number {
  white-space: nowrap;
  position: sticky;
  inset-inline-start: 0;
  border-inline-end-width: 1px;
  border-inline-end-style: solid;
  border-inline-end-color: cs.$color-border-divider-default;
  padding-inline-start: cs.$space-static-xs;
  padding-inline-end: cs.$space-static-xs;

  background-color: $color-background-code-view-light;
  :global(.awsui-dark-mode) &,
  :global(.awsui-polaris-dark-mode) & {
    background-color: $color-background-code-view-dark;
  }
}

.unselectable {
  -webkit-user-select: none;
  user-select: none;
}

.code-line {
  padding-inline-start: cs.$space-static-xs;
  padding-inline-end: cs.$space-static-xs;
  &-wrap {
    white-space: pre-wrap;
    word-break: break-word;
  }
  &-nowrap {
    white-space: pre;
  }
}

.code-table-with-line-wrapping {
  .line-number,
  .code-line {
    vertical-align: text-top;
  }
  &.code-table-with-actions {
    padding-inline-end: cs.$space-static-xxl;
  }
}

.actions {
  position: absolute;
  inset-block-start: cs.$space-scaled-xs;
  inset-inline-end: cs.$space-scaled-xs;
  padding-inline-start: cs.$space-container-horizontal;
}
