@use "../../node_modules/@cloudscape-design/design-tokens/index.scss" as cs;

$color-background-code-view-light: #f4f4f4;
$color-background-code-view-dark: #282c34;

.root {
  position: relative;
  &-with-numbers {
    display: flex;
    align-items: stretch;
  }
  &-with-actions {
    display: flex;
  }
}

.code {
  :global(.awsui-dark-mode) &,
  :global(.awsui-polaris-dark-mode) & {
    background-color: $color-background-code-view-dark;
  }
  &-with-line-numbers {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
    flex: 1;
  }
  &-with-actions {
    min-block-size: cs.$space-scaled-xxl;
    padding-inline-end: calc(2 * cs.$space-static-xxxl);
    align-items: center;
  }
  background-color: $color-background-code-view-light;
  display: flex;
  border-start-start-radius: cs.$border-radius-tiles;
  border-start-end-radius: cs.$border-radius-tiles;
  border-end-start-radius: cs.$border-radius-tiles;
  border-end-end-radius: cs.$border-radius-tiles;
  padding-block: cs.$space-static-xs;
  padding-inline: cs.$space-static-xs;
  margin-block: 0;
  margin-inline: 0;
  overflow: auto;
}

.line-numbers {
  :global(.awsui-dark-mode) &,
  :global(.awsui-polaris-dark-mode) & {
    background-color: $color-background-code-view-dark;
  }
  border-start-start-radius: cs.$border-radius-tiles;
  border-start-end-radius: 0;
  border-end-start-radius: 0;
  border-end-end-radius: cs.$border-radius-tiles;
  background-color: $color-background-code-view-light;
  padding-block: cs.$space-static-xs;
  padding-inline: cs.$space-static-xs;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-inline-end-width: 1px;
  border-inline-end-style: solid;
  border-inline-end-color: cs.$color-border-divider-default;
  justify-content: center;
}

.actions {
  position: absolute;
  inset-block-start: cs.$space-static-xs;
  inset-inline-end: cs.$space-static-xs;
  padding-inline-start: cs.$space-container-horizontal;
}
