html:not(.awsui-dark-mode) body:not(.awsui-dark-mode) {
  @import "../../node_modules/ace-code/styles/theme/cloud_editor";
  .ace-cloud_editor {
    background: none;
  }
}

.awsui-dark-mode {
  @import "../../node_modules/ace-code/styles/theme/cloud_editor_dark";
  .ace-cloud_editor_dark {
    background: none;
  }
}
