@use "@amzn/awsui-design-tokens/polaris.scss" as awsui;

html {
  background-color: #fff;
  &:global(.awsui-polaris-dark-mode) {
    background-color: awsui.$color-background-layout-main;
  }
}

.navigationWrapper {
  position: sticky;
  top: 0;
  width: 200px;
  float: right;
  margin-left: awsui.$space-scaled-l;
}
