html:not(:global(.awsui-dark-mode)):not(:global(.awsui-polaris-dark-mode))
  body:not(:global(.awsui-dark-mode)):not(:global(.awsui-polaris-dark-mode)) {
  @import "../../../node_modules/ace-code/styles/theme/cloud_editor";
  .ace-cloud_editor {
    background: none;
  }
}

:global(.awsui-dark-mode),
:global(.awsui-polaris-dark-mode) {
  @import "../../../node_modules/ace-code/styles/theme/cloud_editor_dark";
  .ace-cloud_editor_dark {
    background: none;
  }
}
